body {
    background: url('assets/bg.png') no-repeat center center fixed; /* Change the URL to an appropriate food-related background image */
    background-size: cover;
    font-family: 'Arial', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 50%;
}

.form-box {
  width: 90%;
    margin: 0 auto;
}

#title {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #d35400; /* Food-related color */
}

.input-group {
    margin-bottom: 15px;
}

.input-field {
    margin-bottom: 10px;
}

.input-field input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1em;
}

.btn-field {
    display: flex;
    justify-content: center;
}

#RegisterBtn {
    background-color: #d35400; /* Food-related color */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

#RegisterBtn:hover {
    background-color: #e67e22; /* Hover color */
}
