body {
    background: url('assets/bg3.jpeg') no-repeat center center fixed;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

#title {
    font-family: 'Pacifico', cursive;
    color: #d35400;
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px #f1c40f;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 25%;
    text-align: center;
}

h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
    margin-bottom: 20px;
    color: #d35400;
}

input[type="text"], input[type="password"], input[type="submit"], button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1em;
}

input[type="text"], input[type="password"] {
    background-color: #f9f9f9;
}

input[type="submit"], button {
    background-color: #d35400;
    color: white;
    border: none;
    cursor: pointer;
    font-family: 'Dancing Script', cursive;
    font-size: 1.1em;
}

input[type="submit"]:hover, button:hover {
    background-color: #e67e22;
}

label {
    font-size: 1em;
    color: #333;
}

#flex {
    display: flex;
    justify-content: space-between;
}

#login {
    width: 48%;
}

#btn_reg {
    width: 48%;
    background-color: #f39c12;
}

#btn_reg:hover {
    background-color: #e67e22;
}


/* Media query for screens smaller than 768px */
@media screen and (max-width: 768px) {
    body {
        padding: 10px;
    }

    #title {
        font-size: 28px;
        margin-top: 10%;
    }

    .wrapper {
        flex-direction: column;
    }

    .container {
        width: 100%;
        margin: 10px 0;
    }

    input[type=text], input[type=password] {
        width: 95%;
    }

    #container-2 {
        display: none;
    }
}
